.main-container {
  background-color: #ffffff;
  width: 100%;
  min-height: 100%;
  display: grid;
  grid-template-columns:
    minmax(8rem, 1fr) repeat(11, minmax(min-content, 12rem))
    minmax(8rem, 1fr);
  grid-template-rows:
    repeat(2, min-content) 70vh
    repeat(5, min-content);
  row-gap: 1.6rem;
  padding-top: 2rem;
  position: relative;
  overflow: hidden;
}

/* header start */

.logo-ctn {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  min-width: max-content;
  width: max-content;
  align-items: center;
}

.logo {
  text-decoration: none;
  font-family: "Clash Display", sans-serif;
  font-size: 1.6rem;
  color: #000000;
  font-weight: 600;
}

.menu-ctn {
  display: none;
}

.social-icons {
  grid-column: 3/5;
  grid-row: 1/2;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr));
  padding: 0;
  align-items: center;
}

.social-icon-link {
  border: 1px solid #000339;
  border-radius: 50%;
  padding: 7px 8px;
}

.social-icon-link .social-img {
  width: 8.8px;
  height: auto;
  transition: all 0.4s ease-in-out;
}

.social-icon-link:hover .social-img {
  transform: rotateZ(360deg);
}

.social-icon {
  font-size: 1rem;
  color: #000339;
  transition: all 0.4s ease-in-out;
}

.social-icon-link:hover .social-icon {
  transform: rotateZ(360deg);
}

.first-nav {
  grid-column: 8/13;
  grid-row: 1/2;
}

.first-nav-list {
  display: grid;
  grid-template-columns: repeat(4, minmax(min-content, 1fr));
  list-style: none;
  align-items: center;
  justify-content: end;
}

.first-nav-ctn {
  grid-column: 1/2;
  display: flex;
  justify-content: flex-end;
}

.second-nav-ctn {
  grid-column: 2/3;
  display: flex;
  justify-content: flex-end;
}

.third-nav-ctn {
  grid-column: 3/4;
  display: flex;
  justify-content: flex-end;
}

.fourth-nav-ctn {
  grid-column: 4/5;
  display: flex;
  justify-content: flex-end;
}

.first-nav-lin {
  text-decoration: none;
  font-family: "Clash Display", sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  color: #000113;
  display: inline-block;
  width: 100%;
  text-align: center;
}
.first-nav-lin::after {
  content: "";
  width: 0;
  height: 0.1rem;
  background-color: #000113;
  display: block;
  margin: auto;
  transition: all 0.3s cubic-bezier(1, 0, 0, 1);
}

.first-nav-lin:hover::after {
  width: 80%;
}

.first-nav-lin i {
  font-size: 1.3rem;
  margin-right: 0.3rem;
}

/* header end */

.ring-ctn {
  grid-column: 13/14;
}

.ring-ctn .ring-one {
  position: absolute;
  width: 80px;
  height: 200px;
  border: 4px solid rgba(0, 6, 138, 0.8);
  border-radius: 50%;
  transform: rotate(43.41deg);
  filter: blur(4px);
  top: 123.43px;
  right: -20px;
}

.ring-ctn .ring-two {
  position: absolute;
  width: 80px;
  height: 200px;
  border: 4px solid rgba(0, 6, 138, 0.8);
  border-radius: 50%;
  transform: rotate(43.41deg);
  filter: blur(4px);
  top: 139.71px;
  right: -30px;
}

.ring-ctn .ring-three {
  position: absolute;
  width: 80px;
  height: 200px;
  border: 4px solid rgba(0, 6, 138, 0.8);
  border-radius: 50%;
  transform: rotate(43.41deg);
  filter: blur(4px);
  top: 155.98px;
  right: -40px;
}

/* start of main-content */
.main-ctn {
  grid-column: 2/13;
  grid-row: 3/5;
  margin-top: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header-ctn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.header-ring-ctn .ring-one {
  box-sizing: border-box;
  position: absolute;
  width: 125.17px;
  height: 459.72px;
  left: 200.21px;
  top: -100.82px;
  border-radius: 50%;
  border: 4px solid rgba(0, 6, 138, 0.03);
  transform: matrix(-0.77, 0.64, -0.92, -0.39, 0, 0);
}

.header-ring-ctn .ring-two {
  box-sizing: border-box;
  position: absolute;
  width: 125.17px;
  height: 459.72px;
  left: 230.21px;
  top: -103.82px;
  border-radius: 50%;
  border: 4px solid rgba(0, 6, 138, 0.03);
  transform: matrix(-0.77, 0.64, -0.92, -0.39, 0, 0);
}

.header-ring-ctn .ring-three {
  box-sizing: border-box;
  position: absolute;
  width: 125.17px;
  height: 459.72px;
  left: 260.21px;
  top: -106.82px;
  border-radius: 50%;
  border: 4px solid rgba(0, 6, 138, 0.03);
  transform: matrix(-0.77, 0.64, -0.92, -0.39, 0, 0);
}

.header-ctn .header-name {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-ctn .header-name h2 {
  color: #000113;
  font-size: 9.8rem;
  font-weight: 500;
  font-family: "Clash Display", sans-serif;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.header-ctn .header-name .profile-img-ctn {
  margin-left: 20px;
  border-radius: 55px 55px 55px 0;
  border: 2px solid #5b62ff;
  box-shadow: 4px 4px 20px rgba(0, 6, 138, 0.13);
  padding: 6.5px 6.5px 6px;
}

.header-ctn .header-name .profile-img-ctn img {
  border-radius: 55px 55px 55px 0;
}

.header-ctn .header-title h2 {
  color: #1a23ff;
  font-size: 10.8rem;
  font-weight: 700;
  font-family: "Clash Display", sans-serif;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.header-paragraph {
  width: 70%;
  padding: 2rem 5rem;
  background: #f6f6fc;
  margin-top: 4rem;
}

.header-paragraph p {
  font-family: "Mulish", sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  color: #000113;
  line-height: 48px;
  text-align: center;
  letter-spacing: 0.01em;
}

.header-paragraph .unique {
  font-weight: 800;
  color: #00068a;
}
/* end of main-content */

.ring-ctn-two {
  grid-column: 1/2;
  position: relative;
}

.ring-ctn-two .ring-one {
  position: absolute;
  width: 80px;
  height: 200px;
  border: 4px solid rgba(0, 6, 138, 0.8);
  border-radius: 50%;
  transform: rotate(43.41deg);
  filter: blur(4px);
  top: 756.43px;
  left: -40px;
}

.ring-ctn-two .ring-two {
  position: absolute;
  width: 80px;
  height: 200px;
  border: 4px solid rgba(0, 6, 138, 0.8);
  border-radius: 50%;
  transform: rotate(43.41deg);
  filter: blur(4px);
  top: 772.71px;
  left: -30px;
}

.ring-ctn-two .ring-three {
  position: absolute;
  width: 80px;
  height: 200px;
  border: 4px solid rgba(0, 6, 138, 0.8);
  border-radius: 50%;
  transform: rotate(43.41deg);
  filter: blur(4px);
  top: 788.98px;
  left: -20px;
}

/* project start */
.project-header-ctn {
  grid-column: 2/13;
  grid-row: 5/6;
  display: grid;
  grid-template-columns: repeat(10, minmax(3rem, 1fr));
  grid-template-rows: repeat(2, min-content);
  margin-top: 10rem;
}

.project-title-one {
  grid-column: 2/7;
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Clash Display", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 7.2rem;
  line-height: 89px;
  text-align: center;
  text-transform: uppercase;
  color: #000113;
  margin: 0;
}

.project-title-two {
  grid-column: 4/10;
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Clash Display", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 10rem;
  line-height: 80px;
  text-align: center;
  text-transform: uppercase;
  color: #1a23ff;
  margin: 0;
}

.project-ctn {
  grid-column: 2/13;
  grid-row: 6/7;
  display: grid;
  grid-template-columns: repeat(9, minmax(1rem, 1fr));
  grid-template-rows: repeat(6, min-content);
  margin-top: 5rem;
}

.projects {
  width: 100%;
  margin-top: 10rem;
}

.projects img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.projects h4 {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 2.8rem;
  text-transform: capitalize;
  color: #000113;
  margin: 1rem 0 0;
}

.projects p {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: rgba(0, 1, 19, 0.69);
}

.project-one {
  grid-column: 1/6;
  grid-row: 1/2;
}

.project-two {
  grid-column: 5/-1;
  grid-row: 2/3;
}

.project-three {
  grid-column: 1/6;
  grid-row: 3/4;
}

.project-four {
  grid-column: 5/-1;
  grid-row: 4/5;
}

.project-five {
  grid-column: 1/6;
  grid-row: 5/6;
}

.project-six {
  grid-column: 5/-1;
  grid-row: 6/7;
}
/* project end */

.ring-ctn-three {
  grid-column: 13/14;
}

.ring-ctn-three .ring-one {
  position: absolute;
  width: 60px;
  height: 200px;
  border: 4px solid rgba(0, 6, 138, 0.8);
  border-radius: 50%;
  transform: rotate(43.41deg);
  filter: blur(4px);
  top: 1323.43px;
  right: -40px;
}

.ring-ctn-three .ring-two {
  position: absolute;
  width: 60px;
  height: 200px;
  border: 4px solid rgba(0, 6, 138, 0.8);
  border-radius: 50%;
  transform: rotate(43.41deg);
  filter: blur(4px);
  top: 1339.71px;
  right: -50px;
}

.ring-ctn-three .ring-three {
  position: absolute;
  width: 60px;
  height: 200px;
  border: 4px solid rgba(0, 6, 138, 0.8);
  border-radius: 50%;
  transform: rotate(43.41deg);
  filter: blur(4px);
  top: 1355.98px;
  right: -60px;
}
/* about-me start */
.about-me-ctn {
  grid-column: 1/-1;
  grid-row: 7/8;
  display: grid;
  grid-template-columns: minmax(8rem, 1fr) repeat(8, minmax(1rem, 1fr)) minmax(
      8rem,
      1fr
    );
  grid-template-rows: repeat(3, min-content);
  margin-top: 10rem;
  position: relative;
}

.about-me-title-ctn {
  grid-column: 1/-1;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: repeat(10, minmax(min-content, 1fr));
  grid-template-rows: repeat(2, min-content);
}

.about-me-title-ctn .title-one {
  grid-column: 5/6;
  grid-row: 1/2;
  text-align: end;
  margin: 0;
}

.about-me-title-ctn .title-one h4 {
  font-family: "Clash Display", sans-serif;
  font-weight: 500;
  font-size: 13rem;
  line-height: 15rem;
  text-transform: uppercase;
  color: #000113;
  margin: 0;
  gap: 0;
}

.about-me-title-ctn .title-two h4 {
  font-family: "Clash Display", sans-serif;
  font-weight: 500;
  font-size: 7.2rem;
  line-height: 4rem;
  text-transform: uppercase;
  color: #1a23ff;
  margin: 0;
}

.about-me-title-ctn .title-two {
  grid-column: 6/7;
  grid-row: 2/3;
  margin: 0;
  gap: 0;
}

.blue-line-ctn {
  grid-column: 1/6;
  grid-row: 2/3;
  position: relative;
}

.blue-line {
  position: absolute;
  width: 123.848rem;
  height: 45.322rem;
  top: -5rem;
  left: -55rem;
  background: #1a23ff;
  border-radius: 0px 213.5px 226.612px 6px;
  transform: rotate(30.96deg);
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
}

.blue-line .star {
  width: 15rem;
  height: 15.2rem;
  position: absolute;
  top: 400px;
  left: 0px;
  z-index: 1;
}

.blue-line .star img {
  height: 100%;
  width: 100%;
}

.blue-line img {
  transform: rotate(-30.96deg);
  height: 57.4rem;
  white-space: 57.4rem;
  position: absolute;
  top: -40px;
  left: 700px;
}

.about-me-content-ctn {
  grid-column: 6/10;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
}

.about-me-content-wrapper {
  margin: 10rem 0 5rem;
}

.about-me-content-wrapper p {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 2.2rem;
  line-height: 4rem;
  letter-spacing: 0.01em;
  color: #000113;
  margin: 0;
}

.quote,
.quote-two {
  font-family: "Mulish", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 12px;
  letter-spacing: 0.01em;
  color: #000000;
}

.quote {
  margin-bottom: 1rem;
}

.quote-two {
  float: right;
  transform: rotate(180deg);
}

.about-me-content-button a {
  text-decoration: none;
}

.about-me-content-button button {
  background-color: #1a23ff;
  color: #ffffff;
  border: none;
  font-family: "Clash Display", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  padding: 1.5rem 3rem;
  text-align: center;
  align-items: center;
  display: flex;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.about-me-content-button button:hover {
  background-color: rgba(14, 20, 183, 0.8);
}

.about-me-content-button i {
  margin-left: 1rem;
}

/* about-me end */

@media (max-width: 1200px) {
  .social-icons {
    grid-column: 3/7;
  }

  .social-icon-link {
    padding: 5px 6px;
  }
  .header-ctn .header-title h2 {
    font-size: 8.8rem;
  }
  .header-ctn .header-name h2 {
    font-size: 7rem;
  }
  .header-paragraph p {
    font-size: 2rem;
  }
}

@media (max-width: 910px) {
  .main-container {
    grid-template-columns:
      minmax(2rem, 1fr) repeat(11, minmax(min-content, 12rem))
      minmax(2rem, 1fr);
    grid-template-rows:
      repeat(2, min-content) 50vh
      repeat(5, min-content);
  }

  .logo {
    font-size: 1.4rem;
  }

  .social-icons {
    grid-column: 3/7;
  }

  .social-icon-link {
    padding: 4px 5px;
  }
  .first-nav {
    grid-column: 9/13;
  }

  .first-nav-lin {
    font-size: 1.2rem;
  }
}

@media (max-width: 766px) {
  .menu-ctn {
    display: block;
  }
  .logo {
    display: none;
  }

  .social-icons {
    grid-column: 9/13;
  }

  .first-nav {
    display: none;
  }

  .ring-ctn .ring-one {
    width: 40px;
    height: 100px;
    top: 100.43px;
    right: -10px;
    border: 4px solid rgba(0, 6, 138, 0.4);
  }

  .ring-ctn .ring-two {
    width: 40px;
    height: 100px;
    top: 110.71px;
    right: -20px;
    border: 4px solid rgba(0, 6, 138, 0.4);
  }

  .ring-ctn .ring-three {
    width: 40px;
    height: 100px;
    top: 120.98px;
    right: -30px;
    border: 4px solid rgba(0, 6, 138, 0.4);
  }

  .header-ctn .header-title h2 {
    font-size: 6rem;
  }
  .header-ctn .header-name h2 {
    font-size: 5rem;
  }

  .header-paragraph {
    width: 70%;
    padding: 0 2rem;
    background: #f6f6fc;
    margin-top: 4rem;
  }

  .header-paragraph p {
    font-size: 1.6rem;
    line-height: 20px;
  }

  .header-ring-ctn .ring-one {
    width: 65.17px;
    height: 259.72px;
    left: 70.21px;
    top: -84.82px;
  }

  .header-ring-ctn .ring-two {
    width: 65.17px;
    height: 259.72px;
    left: 100.21px;
    top: -85.82px;
  }

  .header-ring-ctn .ring-three {
    width: 65.17px;
    height: 259.72px;
    left: 130.21px;
    top: -86.82px;
  }

  .ring-ctn-two .ring-one {
    width: 65px;
    height: 160px;
    top: 468px;
    left: -60px;
    border: 4px solid rgba(0, 6, 138, 0.4);
  }

  .ring-ctn-two .ring-two {
    width: 65px;
    height: 160px;
    top: 478px;
    left: -50px;
    border: 4px solid rgba(0, 6, 138, 0.4);
  }

  .ring-ctn-two .ring-three {
    width: 65px;
    height: 160px;
    top: 488px;
    left: -40px;
    border: 4px solid rgba(0, 6, 138, 0.4);
  }

  .project-title-one {
    font-size: 5rem;
    line-height: 40px;
  }

  .project-title-two {
    font-size: 6rem;
    line-height: 40px;
  }

  .ring-ctn-three {
    display: none;
  }

  .about-me-title-ctn .title-one h4 {
    font-size: 8rem;
    line-height: 8rem;
  }

  .about-me-title-ctn .title-two h4 {
    font-size: 4.2rem;
    line-height: 2rem;
  }
}

@media (max-width: 540px) {
  .main-container {
    grid-template-columns:
      minmax(1rem, 1fr) repeat(11, minmax(min-content, 12rem))
      minmax(1rem, 1fr);
  }

  .main-ctn {
    margin-top: 0rem;
  }
  .social-icons {
    grid-column: 8/13;
  }

  .header-ring-ctn {
    display: none;
  }

  .header-ctn .header-title h2 {
    font-size: 4rem;
  }
  .header-ctn .header-name h2 {
    font-size: 3rem;
  }

  .header-ctn .header-name .profile-img-ctn {
    margin-left: 10px;
    padding: 3.5px 3.5px 3px;
  }

  .header-ctn .header-name .profile-img-ctn img {
    width: 30px;
    height: auto;
    border-radius: 55px 55px 55px 0;
  }

  .project-header-ctn {
    margin-top: 0rem;
  }

  .project-title-one {
    font-size: 4rem;
  }

  .project-title-two {
    font-size: 5rem;
  }
  .projects h4 {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }

  .projects p {
    font-size: 1.1rem;
    line-height: 1rem;
  }
}

@media (max-width: 350px) {
  .social-icons {
    grid-column: 6/13;
  }

  .header-ctn .header-title h2 {
    font-size: 3rem;
  }
  .header-paragraph p {
    font-size: 1.2rem;
  }

  .project-title-one {
    font-size: 3rem;
    line-height: 20px;
  }

  .project-title-two {
    font-size: 4rem;
    line-height: 20px;
  }

  .about-me-title-ctn .title-one h4 {
    font-size: 5rem;
    line-height: 2rem;
  }

  .about-me-title-ctn .title-two h4 {
    font-size: 2.2rem;
    line-height: 2rem;
  }
}
